* {
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
}

body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
  
.container{
    margin: 0 auto;
    padding-top: 50px;
}
  
.todo_list{
    max-width: 600px;
    display: block;
    margin: 0 auto 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 3px;
}
  
h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 30px;
}

.noTasks{
    text-align: center;
    margin-top: 5px;
    color: #767474;
    display: block;
}

  /* ------------------------------------------------------- */
  
.new_task {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-visible {
    display: block !important;
}

.modal-novisible {
    display: none !important;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: #a5a0a0;
}

#form{
    width: 600px;
    height: 400px;
    margin: 15% auto;
    margin-top: 5%;
    border-radius: 1%;
    background-color: #fff;
    position: relative;
}

.close_x{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
}

.title{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 35px;
}

.titleInput{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 90%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #9e9b9b;
}

.description{
    position: absolute;
    left: 5%;
    top: 28%;
    width: 90%;
    height: 35px;
}

.descriptionInput{
    position: absolute;
    left: 5%;
    top: 33%;
    width: 90%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #9e9b9b;
}

.deadline{
    position: absolute;
    left: 5%;
    top: 47%;
    width: 90%;
    height: 35px;
}

.deadlineInput{
    position: absolute;
    left: 5%;
    top: 52%;
    width: 90%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #9e9b9b;
}

.priority{
    position: absolute;
    left: 5%;
    top: 65%;
    width: 90%;
    height: 35px;
}

.prioritySelect{
    position: absolute;
    left: 5%;
    top: 71%;
    width: 90%;
    height: 35px;
}

.add{
    position: absolute;
    right: 5%;
    top: 85%;
    height: 35px;
    color: #fff;
    background-color: #0072bc;
    border: none;
}

#addButton{
    display: block;
}

#editTask{
    display: none;
}

  /* --------------------------------------------------------- */

.addTask{
    margin-top: 20px;
    width: 140px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #0072bc;
    border: none;
}
  
.todo{
    padding-left: 0px;
}
  
.list-item{
    margin-top: 10px;
    height: 90px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #f4f4f4;
    list-style: none;
}

.task-title {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 460px;
    font-size: larger;
    color: #3b3535;
}
  
.task-title-done {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 460px;
    font-size: larger;
    text-decoration: line-through;
    color: #8d8888;
}
  
.btn-action-cross{
    position: absolute;
    top: 32px;
    right: 80px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    background-image: url('img/cross.png');
    background-size: cover;
    cursor: pointer;
}

.btn-action-edit{
    position: absolute;
    top: 32px;
    right: 45px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    background-image: url('img/edit.png');
    background-size: cover;
    cursor: pointer;
}

.btn-action-tick{
    position: absolute;
    top: 32px;
    right: 10px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    background-image: url('img/tick.png');
    background-size: cover;
    cursor: pointer;
}

.info{
    position: absolute;
    top: 50px;
    height: 30px;
    left: 2%;
    display: flex;      
    flex-direction: row;   
    justify-content: flex-start; 
    align-items: center;
}

.priorityTask{
    height: 30px;
    background-color: #d8e4f8;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    color: #525151;
}

.deadlineTask{
    height: 30px;
    margin-left: 7px;
    background-color: #d8e4f8;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    color: #525151;
}

.threeDays{
    background-color: #e0943e;
}

.overdueClass{
    background-color: rgb(231, 78, 78);
}

/* ------------------------------------------------------------- */

.sort_wrapper{
    margin-top: 20px;
    display: flex;      
    flex-direction: row;   
    justify-content: flex-start; 
    align-items: center;
    border-top: 3px solid #f4f4f4;
    padding-top: 10px;
}

.sort_title{
    font-size: small;
}

.sort_button{
    margin-left: 5px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #0072bc;
    border: none;
}